{% extends "layouts/one-column.html" %}

{% set page_title = "App: " + app.name %}

{% block main_column %}

<!-- only show if signed in user has admin rights to this app -->
<p class="clearfix align-right">
  <a href="/apps/manage/{{ app.id }}" class="button button-secondary">Manage app</a>
  <a class="button button-secondary js-confirm" href="/apps/delete/{{ app.id }}/{{ user_id }}">Delete app</a>
</p>
<!-- end -->


<h2 class="heading-medium">Description</h2>
<p>
  {{ app.description if app.description else "None" }}
</p>

<h2 class="heading-medium">Repo</h2>
<p>
  {% if app.repo_url %}
    <a href="{{ app.repo_url }}">{{ app.repo_url }}</a>
  {% else %}
    None
  {% endif %}
</p>

<h2 class="heading-medium">App users</h2>
{% if app.users.length %}
  <ul class="list list-bullet">
    {% for user in app.users %}
      <li>
        <a href="/users/show/{{ user.id | e }}">{{ user.name }}</a>
        {% if user.admin %}
          (Admin)
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>None</p>
{% endif %}

<h2 class="heading-medium">App data sources</h2>
<p>{{ app.apps3buckets.length }} app data {{ "source" if app.apps3buckets.length == 1 else "sources" }} connected to this app</p>

{% if app.apps3buckets.length %}
  <table class="form-group">
    <thead>
      <tr>
        <th>Name</th>
        <th>App has read/write access</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for bucket in app.apps3buckets %}
        <tr>
          <td><a href="{{ url_for('buckets.details', {id: bucket.s3bucket.id}) }}">{{ bucket.s3bucket.name }}</a></td>
          <td>{{ "Yes" if bucket.access_level == 'readwrite' else "No" }}</td>
          <td class="align-right">
            <a href="#" class="button button-secondary">{{ "Remove" if bucket.access_level == 'readwrite' else "Grant" }} read/write access</a>
            <a href="#" class="button button-secondary">Remove app access</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>None</p>
{% endif %}

<form action="" method="post">
  <div class="form-group">
    <label class="form-label" for="add-datasource-to-app">Connect an app data source</label>
    <select class="form-control form-control-3-4 no-blank" id="add-datasource-to-app" name="add-datasource-to-app">
      <option value="">Select app data source</option>
      {% for bucket in buckets %}
        <option value="{{ bucket.id }}">{{ bucket.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <input type="submit" class="button button-secondary" value="Add">
  </div>
</form>


<!--
NOTE: The following lists are here just to show that the `buckets`
      and `users` variables are available.
-->
<h3>DEBUG: 'buckets' variable</h3>
<ul class="list list-bullet">
  {% for bucket in buckets %}
    <li>
      <a href="/buckets/{{ bucket.id }}">{{ bucket.name }}</a>
    </li>
  {% endfor %}
</ul>

<h3>DEBUG: 'users' variable</h3>
<ul class="list list-bullet">
  {% for user in users %}
    <li>
      <a href="/users/{{ user.id }}">{{ user.username }}</a>
    </li>
  {% endfor %}
</ul>


{% endblock %}
