{% extends "layouts/one-column.html" %}

{% set page_title = "App: " + app.name %}

{% block main_column %}


<!--
NOTE: The following lists are here just to show that the `buckets`
      and `users` variables are available.
-->
<h3>DEBUG: 'buckets' variable</h3>
<ul class="list list-bullet">
  {% for bucket in buckets %}
    <li>
      <a href="/buckets/{{ bucket.id }}">{{ bucket.name }}</a>
    </li>
  {% endfor %}
</ul>

<h3>DEBUG: 'users' variable</h3>
<ul class="list list-bullet">
  {% for user in users %}
    <li>
      <a href="/users/{{ user.id }}">{{ user.username }}</a>
    </li>
  {% endfor %}
</ul>



<!-- only show if signed in user has admin rights to this app -->
<p class="clearfix align-right">
  <a href="/apps/manage/{{ app.id }}" class="button button-secondary">Manage app</a>
  <a class="button button-secondary js-confirm" href="/apps/delete/{{ app.id }}/{{ user_id }}">Delete app</a>
</p>
<!-- end -->

<h2 class="heading-medium">Description</h2>
<p>
  {{ app.description if app.description else "None" }}
</p>

<h2 class="heading-medium">Repo</h2>
<p>
  {% if app.repo_url %}
    <a href="{{ app.repo_url }}">{{ app.repo_url }}</a>
  {% else %}
    None
  {% endif %}
</p>

<h2 class="heading-medium">App users</h2>
{% if app.users.length %}
  <ul class="list list-bullet">
    {% for user in app.users %}
      <li>
        <a href="/users/show/{{ user.id | e }}">{{ user.name }}</a>
        {% if user.admin %}
          (Admin)
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>None</p>
{% endif %}

<h2 class="heading-medium">App data sources</h2>
{% if app.buckets.length %}
  <ul class="list list-bullet">
    {% for bucket in app.buckets %}
      <li><a href="/buckets/{{ bucket.id }}">{{ bucket.name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>None</p>
{% endif %}

{% endblock %}
