{% extends "layouts/one-column.html" %}

{% set page_title = "Apps" %}

{% block main_column %}

<p>{{ apps.length }} app{%- if apps.length != 1 -%}s{%- endif -%}</p>

{% if apps.length %}
  <table class="form-group list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Repo</th>
        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
      <tr>
        <td>{{ app.id }}</td>
        <td><a href="{{ url_for('apps.details', {id: app.id}) }}">{{ app.name }}</a></td>
        <td class="text">
          {% if app.description %}
            {{ app.description }}
          {% else %}
            <em>None</em>
          {% endif %}
        </td>
        <td><a href="{{ app.repo_url }}">Github</a></td>
        <td class="align-right no-wrap">
          <a class="button button-secondary" href="{{ url_for('apps.details', {id: app.id}) }}">Manage app</a>
          <form action="{{ url_for('apps.delete', {id: app.id}) }}" method="post" class="inline-form right clearfix">
            <input type="submit" class="button button-warning right js-confirm" value="Delete app" data-confirm-message="Are you sure you want to delete this app?">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<div class="form-group">
  <a href="{{ url_for('apps.new') }}" class="button button-secondary">Create new app</a>
</div>

{% endblock %}
