{% extends "layouts/one-column.html" %}

{% set page_title = "Create new app" %}

{% block main_column %}

<div class="text">
  <p class="lede form-group">After <a href="https://moj-analytical-services.github.io/platform_user_guidance/deploying-a-shiny-app.html">creating an app in Github</a>, use this form to register your app and connect it to sensitive data stored in S3.</p>
</div>


<form action="{{ url_for('apps.create') }}" method="post">
  <div class="form-group {% if errors.name %} form-group-error {% endif %}">
    <label for="name" class="heading-medium form-label">
      Github repo url
    </label>
    {% if errors.name %}
      {% for error in errors.name %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <input type="hidden" name="repo_prefix" id="repo_prefix" value="{{ repo_prefix }}">
    <label for="name" class="form-control-prefix">{{ repo_prefix }}</label>
    <span>/</span>
    <select name="repo_org" id="repo_org" class="form-control form-control-1-3">
      {% for org in orgs %}
        <option value="{{ org }}">{{ org }}</option>
      {% endfor %}
    </select>
    <span>/</span>
    <input class="form-control form-control-prefixed form-control-1-3 {% if errors.name %} form-control-error {% endif %}" type="text" id="name" name="name" value="{{ app.name }}">
  </div>

  <input type="hidden" id="repo_url" name="repo_url" value="{{ app.repo_url }}">

  <div id="repo-check" class="form-group js-hidden">
    <div id="repo-checking" class="js-hidden">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <p></p>
    </div>
    <div id="repo-results" class="js-hidden panel text">
      <h3 class="heading-small">Description:</h3>
      <span id="repo-description"></span>
      <input type="hidden" name="description" id="description" value="">
    </div>
  </div>


  <div class="form-group">

    <fieldset>
      <h2 class="heading-medium">Connect a datasource (S3 bucket)</h2>
      <p>Connect an existing bucket to your app, or create a new bucket. This can also be done later.</p>
      <p>Additional buckets can also be connected after your app is created.</p>
      <div class="multiple-choice" data-target="new-app-datasource-create-new-source">
        <input type="radio" id="new-app-datasource-create" name="new-app-datasource" value="create">
        <label for="new-app-datasource-create">Create a new datasource</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="new-app-datasource-create-new-source">
        <p>This can be populated with data later.</p>

        {% include 'buckets/includes/new-bucket-name.html' %}
      </div>

      <div class="multiple-choice" data-target="new-app-datasource-existing-source">
        <input type="radio" id="new-app-datasource-select" name="new-app-datasource" value="select">
        <label for="new-app-datasource-select">Connect an existing app data source</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="new-app-datasource-existing-source">
        <label class="form-label" for="select-existing-datasource">Select app data source</label>
        <select name="select-existing-datasource" id="select-existing-datasource" class="form-control">
          <option value="">Select</option>
          {% for bucket in buckets %}
            <option value="{{ bucket.id }}">{{ bucket.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="multiple-choice">
        <input type="radio" id="new-app-datasource-later" name="new-app-datasource" value="later">
        <label for="new-app-datasource-later">Do this later</label>
      </div>
    </fieldset>

  </div>

  <div class="form-group">
    <input type="submit" class="button button-secondary" value="Create">
  </div>

</form>


{% endblock %}
