{% extends "layouts/one-column.html" %}

{% set page_title = "Create new app" %}

{% block main_column %}

<form action="{{ url_for('apps.create') }}" method="post">

  <div class="form-group {% if errors.name %} form-group-error {% endif %}">
    <label for="name" class="form-label">Name</label>
    {% if errors.name %}
      {% for error in errors.name %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <input class="form-control {% if errors.name %} form-control-error {% endif %}" type="text" id="name" name="name" value="{{ app.name }}">
  </div>

  <div class="form-group">
    <label for="description" class="form-label">
      Description
      <span class="form-hint">Optional</span>
    </label>
    <textarea class="form-control" name="description" id="description" cols="30" rows="10">{{ app.description }}</textarea>
  </div>

  <div class="form-group {% if errors.repo_url %} form-group-error {% endif %}">
    <label for="repo_url" class="form-label">
      Github repo url
      <span class="form-hint">e.g. https://github.com/something-org/lorem-fantastic-app</span>
    </label>
    {% if errors.repo_url %}
      {% for error in errors.repo_url %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <input class="form-control {% if errors.repo_url %} form-control-error {% endif %}" type="text" id="repo_url" name="repo_url" value="{{ app.repo_url }}">
  </div>

  <div class="form-group">

    <fieldset>
      <h2 class="heading-medium">Connect a datasource (S3 bucket)</h2>
      <p>Connect an existing bucket to your app, or create a new bucket. This can also be done later.</p>
      <p>Additional buckets can also be connected after your app is created.</p>
      <div class="multiple-choice" data-target="new-app-datasource-create-new-source">
        <input type="radio" id="new-app-datasource-create" name="new-app-datasource" value="create">
        <label for="new-app-datasource-create">Create a new datasource</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="new-app-datasource-create-new-source">
        <p>This can be populated with data later.</p>

        {% include 'buckets/includes/new-bucket-name.html' %}
      </div>

      <div class="multiple-choice" data-target="new-app-datasource-existing-source">
        <input type="radio" id="new-app-datasource-select" name="new-app-datasource" value="select">
        <label for="new-app-datasource-select">Connect an existing app data source</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="new-app-datasource-existing-source">
        <label class="form-label" for="select-existing-datasource">Select app data source</label>
        <select name="select-existing-datasource" id="select-existing-datasource" class="form-control">
          <option value="">Select</option>
          {% for bucket in buckets %}
            <option value="{{ bucket.id }}">{{ bucket.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="multiple-choice">
        <input type="radio" id="new-app-datasource-later" name="new-app-datasource" value="later">
        <label for="new-app-datasource-later">Do this later</label>
      </div>
    </fieldset>

  </div>

  <div class="form-group">
    <input type="submit" class="button button-secondary" value="Create">
  </div>

</form>

{% endblock %}
