{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="{{ url_for('base.home') }}" id="proposition-name">
          {% block service_name %}
            Analytical Platform Control Panel
          {% endblock %}
        </a>

        {% include "includes/proposition-links.html" %}

        {% if whats_new_notification %}
          <a href="/whats-new" class="whats-new-notification">What's new?</a>
        {% endif %}
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li><a href="https://moj-analytical-services.github.io/platform_user_guidance/">Platform user guidance</a></li>
    <li><a href="https://moj-analytical-services.github.io/platform_user_guidance/how-to-get-support.html">Platform support</a></li>
    <li><a href="https://asdslack.slack.com/messages/C1PUCG719/#">R Slack channel</a></li>
    <li><a href="https://asdslack.slack.com/messages/C1Q09V86S/#">Python slack channel</a></li>
    <li><a href="https://asdslack.slack.com/messages/C4PF7QAJZ#">Analytical platform slack channel</a></li>
    <li><a href="/whats-new">What's new?</a></li>
  </ul>
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
{% endblock %}
