{% extends "layouts/base.html" %}

{% macro breadcrumbs_list(crumbs) %}
  <div class="breadcrumbs">
    <ol>
      {% for crumb in crumbs %}
        {% if crumb.url %}
          <li><a href="{{ crumb.url }}">{{ crumb.text }}</a></li>
        {% else %}
          <li aria-current="page">{{ crumb.text }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endmacro %}

{% macro debug_blocks(items) %}
  {% for item in items %}
    <details>
      <summary>{{ item.name }}</summary>
      <div class="panel">
        <pre>{{ item.value | dump(2) | safe }}</pre>
      </div>
    </details>
  {% endfor %}
{% endmacro %}

{% block page_title %}
  {{ page_title }} | Analytical Platform Control Panel
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% if breadcrumbs %}
    {{ breadcrumbs_list(breadcrumbs) }}
  {% endif %}

  {% for message in messages %}
    <p class="flash-message">{{ message }}</p>
  {% endfor %}

  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  {% block main_column %}{% endblock %}

  {% block debug %}
    {% if current_user.is_superuser or env.ENV == 'dev' %}
      <div class="debug">
        <h2 class="heading-medium">Debug</h2>

        {% set items = [{name: 'current_user', value: current_user}, {name: 'req.session', value: req.session}] %}

        {# always show these #}
        {{ debug_blocks(items) }}
        {# optional debug items sent from template #}
        {{ debug_blocks(debug_items) }}

      </div>
    {% endif %}
  {% endblock %}

</main>

{% endblock %}
