{% extends "layouts/base.html" %}

{% macro breadcrumbs_list(crumbs) %}
  <div class="breadcrumbs">
    <ol>
      {% for crumb in crumbs %}
        {% if crumb.url %}
          <li><a href="{{ crumb.url }}">{{ crumb.text }}</a></li>
        {% else %}
          <li aria-current="page">{{ crumb.text }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endmacro %}

{% block page_title %}
  {{ page_title }} | Analytical Platform Control Panel
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% if breadcrumbs %}
    {{ breadcrumbs_list(breadcrumbs) }}
  {% endif %}

  {% for message in messages %}
    <p class="flash-message">{{ message }}</p>
  {% endfor %}

  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  {% block main_column %}{% endblock %}

</main>

{% endblock %}
