{% extends "layouts/base.html" %}
{% from "includes/breadcrumbs.html" import breadcrumbs_list %}
{% from "includes/render_debug.html" import render_debug with context %}

{% block page_title %}
  {{ page_title }} | Analytical Platform Control Panel
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% if breadcrumbs %}
    {{ breadcrumbs_list(breadcrumbs) }}
  {% endif %}

  {% for message in messages %}
    <p class="flash-message">{{ message }}</p>
  {% endfor %}

  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  {% block main_column %}{% endblock %}

  {% block debug %}
    {{ render_debug(debug_items) }}
  {% endblock %}

</main>

{% endblock %}
