{% extends "layouts/base.html" %}

{% block page_title %}
  {{ page_title }} | Analytical Platform Control Panel
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% for message in messages %}
    <p class="message">{{ message }}</p>
  {% endfor %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{ page_title }}
      </h1>

      {% block main_column %}{% endblock %}

    </div>

    <div class="column-one-third">

      {% block right_column %}{% endblock %}

    </div>
  </div>
</main>

{% endblock %}
