{% extends "layouts/one-column.html" %}
{% from "includes/forms.html" import checkbox_field, delete_button, fieldset %}

{% set page_title = "User: " + user.username %}
{% set breadcrumbs = [
  {text: 'Home', url: '/'},
  {text: 'Users', url: '/#Users'},
  {text: 'User: ' + user.username}
] %}
{% set heading_prefix = "User's" %}
{% set debug_items = [
  {name: 'user', value: user}
] %}

{% block page_title %}
  {{ page_title }} | Analytical Platform Control Panel
{% endblock %}

{% block main_column %}

{% if current_user.is_superuser %}
<form action="{{ url_for('users.update', { id: user.auth0_id }) }}" method="post">

  {% call fieldset(
    "superadmin",
    "Super Admin",
    hint="User is a super admin, allowing all privileges on the Control panel."
  ) -%}
    <div class="govuk-checkboxes">
      {{ checkbox_field("superadmin", "Super Admin", user.is_superuser) }}
    </div>
  {%- endcall %}

  <div class="form-group">
    <input type="submit" class="button button-secondary" value="Save changes">
  </div>

</form>

<form action="{{ url_for('users.reset_mfa', { id: user.auth0_id }) }}" method="post">

  {% call fieldset(
    "resetmfa",
    "Reset MFA",
    hint="Reset the user's multi-factor authentication settings, forcing them to reconfigure."
  ) -%}
    <div class="form-group">
      <button class="button button-secondary">Reset MFA</button>
    </div>
  {%- endcall %}

</form>
{% endif %}

{% include 'users/includes/tables.html' %}

{% if current_user.is_superuser %}
<hr>

<form action="{{ url_for("users.delete", { id: user.auth0_id }) }}" method="post">

  {{ delete_button("Delete user", confirm="Are you sure you want to delete this user?") }}

</form>
{% endif %}

{% endblock %}
