{% extends "layouts/one-column.html" %}

{% set page_title = "Users" %}

{% block main_column %}

<p>{{ users.length }} user{%- if users.length != 1 -%}s{%- endif -%}</p>

<table class="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      {% if current_user.is_superuser %}
        <th><span class="visuallyhidden">Actions</span></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a class="{% if current_user.auth0_id == user.auth0_id %}highlight-current{% endif %}" href="{{ url_for('users.details', { id: user.auth0_id }) }}">{{ user.name | default(user.username, true) }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        {% if current_user.is_superuser %}
          <td class="align-right">
            <a class="button button-secondary" href="{{ url_for('users.edit', { id: user.auth0_id }) }}">Edit</a>
            <form action="{{ url_for('users.delete', { id: user.auth0_id }) }}" method="post" class="inline-form right clearfix">
              <input type="submit" class="button button-warning right js-config" value="Delete" data-confirm-message="Are you sure you want to delete this user?">
            </form>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
