{% extends "layouts/one-column.html" %}

{% set page_title = "Users" %}

{% block main_column %}

<p>{{ users.results.length }} user{%- if users.results.length != 1 -%}s{%- endif -%}</p>

<table class="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th><span class="visuallyhidden">Actions</span></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users.results %}
      <tr>
        <td><a href="{{ url_for('users.details', {id: user.auth0_id}) }}">{{ user.name | default(user.username, true) }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td class="align-right">
          <a class="button button-secondary" href="{{ url_for('users.edit', {id: user.auth0_id}) }}">Edit</a>
          <a class="button button-warning js-confirm" href="#">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
