{% extends "layouts/one-column.html" %}

{% set page_title = "Create new user" %}

{% block main_column %}

<form action="createUserURLGoesHere" method="post">

  <div class="form-group {% if errors.name %} form-group-error {% endif %}">
    <label for="name" class="form-label">Name</label>
    {% if errors.name %}
      {% for error in errors.name %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <input class="form-control {% if errors.name %} form-control-error {% endif %}" type="text" id="name" name="name" value="{{ user.name }}">
  </div>

  <div class="form-group {% if errors.email %} form-group-error {% endif %}">
    <label for="name" class="form-label">Email address</label>
    {% if errors.email %}
      {% for error in errors.email %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <input class="form-control {% if errors.email %} form-control-error {% endif %}" type="text" id="email" name="email" value="{{ user.email }}">
  </div>

  <div class="form-group {% if errors.username %} form-group-error {% endif %}">
    <label for="username" class="form-label">Username</label>
    {% if errors.username %}
      {% for error in errors.username %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <input class="form-control {% if errors.username %} form-control-error {% endif %}" type="text" id="username" name="username" value="{{ user.username }}">
  </div>


  <div class="form-group">
    <input type="submit" class="button button-secondary" value="Create">
  </div>

</form>

{% endblock %}
