{% extends "layouts/one-column.html" %}

{% set page_title = 'Internal Error' %}

{% block main_column %}

<p class="error">{{ error.message }}</p>

{% if env.ENV == 'dev' %}
<pre>
{{ error.stack | safe }}
</pre>

<details class="debug">
  <summary>Debug</summary>

  <div class="panel">
    <h2 class="heading-medium">Session</h2>
    <pre>{{ req.session | default({}) | dump(2) | safe }}</pre>
  </div>

  <div class="panel">
    <h2 class="heading-medium">Logged-in user</h2>
    <pre>{{ current_user | dump(2) | safe }}</pre>
  </div>

  <div class="panel">
    <h2 class="heading-medium">Environment</h2>
    <pre>{{ env | dump(2) | safe }}</pre>
  </div
</details>
  {% endif %}
{% endblock %}
