{% block main_column %}

<h2 class="heading-medium">Your tools</h2>

<p>The status of your tools will update automatically.</p>

<table class="form-group list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th><span class="visuallyhidden">Actions</span></th>
    </tr>
  </thead>
  <tbody>
    {% if tools.length %}
      {% for tool in tools %}

      <tr>
        <td>{{ tool.app_label }}</td>
        <td>
          {% if tool.idled %}
            Idled
          {% else %}
            {% for pod in tool.pods %}
              {{ loop.index }}. {{ pod.display_status }}<br>
            {% endfor %}
          {% endif %}
        </td>
        <td class="align-right no-wrap">
          {% if tool.available %}
            <a class="button button-secondary" target="_blank" rel="noopener" href="{{ tool.url }}">Open</a>
            <a class="button button-secondary" href="{{ url_for('tools.restart', { name: tool.metadata.name }) }}">Restart</a>
          {% elif tool.idled %}
            <a class="button button-secondary" target="_blank" rel="noopener" href="{{ tool.url }}">Unidle</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <td>RStudio</td>
      <td>
        {% if rstudio_is_deploying %}
          Deploying
        {% else %}
          Not deployed
        {% endif %}
      </td>
      <td class="align-right no-wrap">
        {% if not rstudio_is_deploying %}
          <form action="{{ url_for('tools.deploy', { name: 'rstudio' }) }}" method="post" class="inline-form clearfix">
            <input type="submit" class="button button-secondary right" value="Deploy" />
          </form>
        {% endif %}
      </td>
    {% endif %}
    </tbody>
  </table>

  <p>
    {% if env.ENV == 'alpha' %}
      You can <a href="{{ grafana_url }}" target="_blank" rel="noopener">view your resource utilisation on Grafana (opens in new tab)</a>.
    {% else %}
      <em>(Grafana not available on environment: {{ env.ENV }})</em>
    {% endif %}
  </p>

{% endblock %}
