.button-secondary {
  @include button($grey-3);
}

.button-warning {
  @include button($red);
}

.button,
.button-secondary,
.button-warning {
  @include core-16;
}

button.js-close-panel {
  display: block;
  position: relative;
  float: right;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: $grey-3;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  &:after {
    content: '\00d7';
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    left: -25px;
    top: -3px;
  }

  &:hover {
    background-color: $grey-2;
  }
}
