.demo {
  background: $yellow-25;
  padding: 1em;
  @include core-24;

  input, textarea, select, button {
    @include core-19;
  }

  * {
    font-family: serif !important;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }
}
