.form-label,
.form-control,
.form-hint {
  @include core-16;
}

.form-control-1 {
  width: 100%;

  @include media(tablet) {
    width: 100%;
  }
}

.inline-form {
  display: inline-block;

  &.right {
    float: right;
    margin-left: 5px;
  }
}

.form-control-prefix {
  @include core-16;
}
