#a0-lock * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.login-container {
  padding-top: 4em;

  #a0-lock.a0-theme-default {

    .a0-bg-gradient {
      display: none;
    }

    .a0-panel {
      margin: 0;
      width: auto;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      text-align: left;

      * {
        font-family: "nta", Arial, sans-serif;
        font-stretch: normal;
        color: $black;
      }

      .a0-mode {
        form {
          .a0-body-content {
            padding: 0 0 30px 0;
          }
        }
      }

      .a0-icon-container {
        min-height: 0;

        .a0-image {
          display: none;
          background-image: url(/static/images/gov.uk_logotype_crown_invert_trans.png);
          background-size: 72px 64px;
          background-repeat: no-repeat;
          background-position: center center;
          height: 80px;

          img {
            display: none;
          }
        }
      }

      .a0-top-header {
        min-height: 0;

        h1 {
          @include heading-36;
          padding: 0;
          margin: 0 0 30px 0;
        }
      }

      .a0-mode-container {
        .a0-loggedin {
          text-align: left;
        }

        .a0-zocial {
          border: none;
          border-radius: 0;
          background: #eee;
          opacity: 1;

          &:hover {
            background: #e4e4e4;

            span {
              background: none;
            }
          }

          span {
            @include core-16(40px, 40px);
            text-transform: none;
          }

          &:before {
            width: 40px;
          }
        }
      }

      .a0-last-time,
      .a0-all {
        @include core-16;
        color: $black;
      }
    }
  }
}
