.login-container {
  padding-top: 4em;

  * {
    font-family: $nta-light !important;
  }
}


// overrides - could stop working in future versions of lock, but aren't crucial
.auth0-lock-center {
  border: 1px solid $grey-3;
  border-radius: 5px;
}
.auth0-lock-social-button-text {
  font-weight: 400 !important;
}
