{% extends "layouts/one-column.html" %}
{% from "includes/yesno.html" import yes_no %}

{% set bucket_type = 'warehouse' if bucket.is_data_warehouse else 'webapp' %}
{% set page_title = bucket_type | capitalize + " data source: " + bucket.name %}
{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Data source details'}] %}

{% block main_column %}

<h2 class="heading-medium">Data access group</h2>
<p>{{ bucket.users3buckets.length }} user{%- if bucket.users3buckets.length != 1 -%}s have{% else %} has{% endif %} access to this {{ bucket_type }} data source</p>

{% if bucket.users3buckets.length %}
  <table class="bucket-users form-group">
    <thead>
      <tr>
        <th>User</th>
        <th>User access level</th>
        {% if current_user.is_bucket_admin(bucket.id) or current_user.is_superuser %}
          <th>
            <span class="visuallyhidden">Actions</span>
          </th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for users3bucket in bucket.users3buckets %}
        <tr>
          <td><a class="{% if current_user.auth0_id == users3bucket.user.auth0_id %}highlight-current{% endif %}" href="{{ url_for('users.details', { id: users3bucket.user.auth0_id }) }}">{% if users3bucket.user.name %}{{ users3bucket.user.name }} {% endif %}({{ users3bucket.user.username }})</a></td>
          <td>
            {% if(users3bucket.is_admin) %}
              admin
            {% else %}
              {{ users3bucket.access_level }}
            {% endif %}
          </td>
          {% if current_user.is_bucket_admin(bucket.id) or current_user.is_superuser %}
            <td class="align-right">

              <div class="form-group change-data-access-level-panel panel panel-border-narrow js-hidden" id="users3bucket_{{ users3bucket.id }}_change-data-access-level-panel">

                <button class="js-close-panel">Close panel</button>

                <form action="{{ url_for('users3buckets.update', { id: users3bucket.id }) }}" method="post" class="inline-form clearfix">
                  <input type="hidden" name="redirect_to" value="{{ url_for('buckets.details', { id: bucket.id }) }}" />
                  <div class="form-group">
                    <fieldset>
                      <legend class="visuallyhidden">Data access level</legend>
                      <div class="multiple-choice">
                        <input type="radio" id="users3bucket_{{ users3bucket.id }}_data_access_level-readonly" name="data_access_level" value="readonly" {% if users3bucket.access_level == 'readonly' %}checked{% endif %}>
                        <label for="users3bucket_{{ users3bucket.id }}_data_access_level-readonly">Read only</label>
                      </div>
                      <div class="multiple-choice">
                        <input type="radio" id="users3bucket_{{ users3bucket.id }}_data_access_level-readwrite" name="data_access_level" value="readwrite" {% if users3bucket.access_level == 'readwrite' and users3bucket.is_admin == false %}checked{% endif %}>
                        <label for="users3bucket_{{ users3bucket.id }}_data_access_level-readwrite">Read/write</label>
                      </div>
                      <div class="multiple-choice">
                        <input type="radio" id="users3bucket_{{ users3bucket.id }}_data_access_level-admin" name="data_access_level" value="admin" {% if users3bucket.is_admin %}checked{% endif %}>
                        <label for="users3bucket_{{ users3bucket.id }}_data_access_level-admin">Admin</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="button button-secondary" value="Save" />
                  </div>
                </form>

                <hr>
                <div class="form-group js-revoke-access" id="users3bucket_{{ users3bucket.id }}_revoke-access">
                  <form action="{{ url_for('users3buckets.delete', { id: users3bucket.id }) }}" method="post" class="inline-form clearfix">
                    <input type="hidden" name="redirect_to" value="{{ url_for('buckets.details', { id: bucket.id }) }}">

                    <input type="submit" class="js-confirm button button-warning" value="Revoke access" />
                  </form>
                </div>
              </div>

              <button class="button button-secondary js-change-access-level" id="users3bucket_{{ users3bucket.id }}_change-data-access-level">Edit access level</button>

            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>None</p>
{% endif %}

{% if current_user.is_bucket_admin(bucket.id) or current_user.is_superuser %}
  {% if users_options.length %}
    <form action="{{ url_for('users3buckets.create') }}" method="post">
      <input type="hidden" name="bucket_id" value="{{ bucket.id }}" />
      <div class="form-group">
        <label class="form-label" for="user_id">Grant access to this data to other users</label>

        <div class="typeahead__container">
          <div class="typeahead__field">
            <span class="typeahead__query">
              <input id="user_typeahead" class="form-control form-control-1-2" name="user_typeahead" type="search" autocomplete="off" placeholder="Start typing to find a user..." value="{{ req.body.user_typeahead }}">
            </span>
          </div>
        </div>

        <select class="form-control no-blank" id="user_id" name="user_id">
          <option value="">Select a user</option>
          {% for user in users_options %}
            {% if user.auth0_id and user.auth0_id != "jenkins" %}
              <option value="{{ user.auth0_id }}">{% if user.name %}{{ user.name }} {% endif %}({{ user.username }})</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="form-group panel panel-border-narrow js-hidden" id="data-access-level-panel">
        <fieldset>
          <legend>Data access level</legend>
          <div class="multiple-choice">
            <input type="radio" id="data_access_level-readonly" name="data_access_level" value="readonly" checked>
            <label for="data_access_level-readonly">Read only</label>
          </div>
          <div class="multiple-choice">
            <input type="radio" id="data_access_level-readwrite" name="data_access_level" value="readwrite">
            <label for="data_access_level-readwrite">Read/write</label>
          </div>
          <div class="multiple-choice" data-target="admin-information">
            <input type="radio" id="data_access_level-admin" name="data_access_level" value="admin">
            <label for="data_access_level-admin">Admin</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="admin-information">
            <p><strong>NOTE:</strong> Making user admin will allow them to confer access rights on additional users.</p>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button button-secondary" value="Grant access">
      </div>
    </form>
  {% else %}
    <p>(All available users already have access to this data source.)</p>
  {% endif %}

  <hr>
  <form action="{{ url_for('buckets.delete', { id: bucket.id }) }}" method="post" class="clearfix">
    <input type="hidden" id="redirect" name="redirect" value="{{ url_for('base.home') }}">
    <input type="submit" class="button button-warning right js-confirm" value="Delete data source" data-confirm-message="Are you sure you want to delete this data source?">
  </form>
{% endif %}


<!-- TODO: Remove me - Dump of available variables -->
<details class="debug">
  <summary>Debug</summary>
  <div>
    <pre>bucket = {{ bucket | dump(4) | safe }}</pre>
    <br />
    <pre>apps_options = {{ apps_options | dump(4) | safe }}</pre>
    <br />
    <pre>users_options = {{ users_options | dump(4) | safe }}</pre>
  </div>
</details>


{% endblock %}
