{% extends "layouts/one-column.html" %}

{% set page_title = "App data source: " + bucket.name %}

{% block main_column %}


<h2 class="heading-medium">Users with admin access</h2>
<p>{{ bucket.users3buckets.length }} user{%- if bucket.users3buckets.length != 1 -%}s are{% else %} is{% endif %} admin of this app data source</p>

{% if bucket.users3buckets.length %}
  <table class="form-group">
    <thead>
      <tr>
        <th>User</th>
        <th>User has read/write access</th>
        <th>
          {% if current_user_is_bucket_admin or current_user.is_superuser %}
            <span class="visuallyhidden">Actions</span>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for users3bucket in bucket.users3buckets %}
        <tr>
          <td><a class="{% if signedInUserId == users3bucket.user.auth0_id %}highlight-current{% endif %}" href="{{ url_for('users.details', {id: users3bucket.user.auth0_id}) }}">{{ users3bucket.user.name }}</a></td>
          <td>{{ yes_no(users3bucket.access_level, 'readwrite') }}</td>
          <td class="align-right">
            {% if current_user_is_bucket_admin or current_user.is_superuser %}
              <!-- Button to change access level -->
              <form action="{{ url_for('users3buckets.update', {id: users3bucket.id}) }}" method="post" class="inline-form clearfix">
                <input type="hidden" name="access_level" value="{{ yes_no(users3bucket.access_level, 'readwrite', 'readonly', 'readwrite') }}" />

                <input type="hidden" name="redirect_to" value="{{ url_for('buckets.details', {id: bucket.id}) }}" />

                <input type="submit" class="js-confirm button button-secondary" value="{{ yes_no(users3bucket.access_level, 'readwrite', 'Revoke', 'Grant') }} read/write access" />
              </form>

              <!-- Button to revoke access -->
              <form action="{{ url_for('users3buckets.delete', {id: users3bucket.id}) }}" method="post" class="inline-form clearfix">
                <input type="hidden" name="redirect_to" value="{{ url_for('buckets.details', {id: bucket.id}) }}">

                <input type="submit" class="js-confirm button button-secondary" value="Revoke admin access" />
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>None</p>
{% endif %}


{% if current_user_is_bucket_admin or current_user.is_superuser %}
  {% if users_options.length %}
    <form action="{{ url_for('users3buckets.create') }}" method="post">
      <input type="hidden" name="bucket_id" value="{{ bucket.id }}" />
      <div class="form-group">
        <label class="form-label" for="user_id">Make user admin of this app data source</label>
        <select class="form-control no-blank" id="user_id" name="user_id">
          <option value="">Select a user</option>
          {% for user in users_options %}
            <option value="{{ user.auth0_id }}">{{ user.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input type="submit" class="button button-secondary" value="Grant admin access">
      </div>
    </form>
  {% else %}
    <p>(All available users are already admin of this app data source.)</p>
  {% endif %}

  <hr>
  <form action="{{ url_for('buckets.delete', {id: bucket.id}) }}" method="post" class="clearfix">
    <input type="hidden" id="redirect" name="redirect" value="{{ url_for('base.home') }}">
    <input type="submit" class="button button-warning right js-confirm" value="Delete bucket" data-confirm-message="Are you sure you want to delete this bucket?">
  </form>
{% endif %}


<!-- TODO: Remove me - Dump of available variables -->
<details class="debug">
  <summary>Debug</summary>
  <div>
    <pre>bucket = {{ bucket | dump(4) | safe }}</pre>
    <br />
    <pre>apps_options = {{ apps_options | dump(4) | safe }}</pre>
    <br />
    <pre>users_options = {{ users_options | dump(4) | safe }}</pre>
  </div>
</details>


{% endblock %}
