{% extends "layouts/one-column.html" %}

{% set page_title = "S3 Buckets" %}

{% block main_column %}

<p>{{ buckets.length }} bucket{%- if buckets.length != 1 -%}s{%- endif -%}</p>

{% if buckets.length %}
  <table class="list">
    <thead>
      <tr>
        <td>ID</td>
        <th>Bucket name</th>
        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      {% for bucket in buckets %}
        <tr>
          <td>{{ bucket.id }}</td>
          <td><a href="{{ url_for('buckets.details', {id: bucket.id}) }}">{{ bucket.name }}</a></td>
          <td class="align-right">
            <a class="button button-warning js-confirm" href="#" data-confirm-message="Are you sure you want to delete this bucket?">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<div class="form-group">
  <a href="{{ url_for('buckets.new') }}" class="button button-secondary">Create new bucket</a>
</div>

{% endblock %}
