{% extends "layouts/one-column.html" %}

{% set page_title = "App data sources" %}

{% block main_column %}

<p>{{ buckets.length }} app data source{%- if buckets.length != 1 -%}s{%- endif -%}</p>

{% if buckets.length %}
  <table class="list">
    <thead>
      <tr>
        <td>ID</td>
        <th>App data source name</th>
        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      {% for bucket in buckets %}
        <tr>
          <td>{{ bucket.id }}</td>
          <td><a href="{{ url_for('buckets.details', { id: bucket.id }) }}">{{ bucket.name }}</a></td>
          <td class="align-right">
            {% if current_user_is_bucket_admin or current_user.is_superuser %}
              <form action="{{ url_for('buckets.delete', { id: bucket.id }) }}" method="post" class="inline-form">
                <input type="hidden" id="redirect" name="redirect" value="{{ url_for('buckets.list') }}">
                <input type="submit" class="button button-secondary right js-confirm" value="Delete app data source" data-confirm-message="Are you sure you want to delete this app data source?">
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<div class="form-group">
  <a href="{{ url_for('buckets.new') }}" class="button button-secondary">Create new app data source</a>
</div>

{% endblock %}
