{% extends "layouts/one-column.html" %}

{% set page_title = "Create new bucket" %}

{% block main_column %}

  {% if error and not error.error %}
    <div class="error">{{ error.message }}</div>
  {% endif %}

  <form action="{{ url_for('buckets.create') }}" method="post">

    <div class="form-group{% if error.error.name %} form-group-error{% endif %}">
      {% include 'buckets/includes/new-bucket-name.html' %}
    </div>

    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Create">
    </div>

  </form>

{% endblock %}
