{% extends "layouts/one-column.html" %}

{% set page_title = "Create new secure data storage folder" %}
{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: page_title}] %}

{% block main_column %}

  {% if error and not error.error %}
    <div class="error">{{ error.message }}</div>
  {% endif %}

  <div class="text">
    {% if type == "warehouse" %}
      <p class="lede">Create a new folder to store data, with an associated data access group.</p>
      <p><em>Only you will have access to this data until you add colleagues to the data access group.</em></p>
    {% elseif type == "webapp" %}
      <p class="lede">Lorem ipsum copy about webapp buckets</p>
    {% endif %}
  </div>

  <form action="{{ url_for('buckets.create') }}" method="post">

    <div class="form-group{% if error.error.name %} form-group-error{% endif %}">
      {% include 'buckets/includes/new-bucket-name.html' %}
    </div>

    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Create">
    </div>

  </form>

{% endblock %}
