{% extends "layouts/one-column.html" %}

{% set page_title = "Create new bucket" %}

{% block main_column %}

<form action="/buckets/create" method="post">

  <div class="form-group">
    <label class="form-label" for="new-datasource-name">
      App data source (bucket) name
      <span class="form-hint">60 chars max, only lowercase letters, numbers, periods and hyphens, auto-prefixed with "{{ prefix }}"</span>
    </label>
    <input class="form-control" name="new-datasource-name" type="text" id="new-datasource-name" value="{{ prefix }}" data-prefix="{{ prefix }}" pattern="[a-z0-9.-]{1,60}" maxlength="60">
  </div>

  <div class="form-group">
    <input type="submit" class="button button-secondary" value="Create">
  </div>

</form>

{% endblock %}
