{% extends "layouts/one-column.html" %}
{% from "includes/yesno.html" import yes_no %}

{% set page_title = "Hello " + ( current_user.name if current_user ) %}
{% set heading_prefix = "Your" %}
{% set breadcrumbs = [{text: 'Home', url: '/'}] %}

{% block main_column %}

  <ul class="tabs">
    {% if current_user.is_superuser %}
      <li class="tab-superuser">Superuser</li>
    {% endif %}
    <li class="tab-analytical-tools">Analytical tools</li>
    {% if current_user.is_superuser %}
      <li class="tab-warehouse-data">Warehouse data</li>
      <li class="tab-webapp-data">Webapp data</li>
      <li class="tab-webapps">Webapps</li>
    {% endif %}
  </ul>

  {% if current_user.is_superuser %}
    <section class="tab-panel">
      <h2 class="heading-medium">Superuser functions</h2>
      <ul class="list list-bullet">
        <li><a href="{{ url_for('users.list') }}">List all users</a></li>
        <li><a href="{{ url_for('apps.list') }}">List all apps</a></li>
        <li><a href="{{ url_for('buckets.list') }}">List all data sources</a></li>
      </ul>
    </section>
  {% endif %}

  <section class="tab-panel">
    <h2 class="heading-medium">Your tools</h2>

    {% include 'tools/includes/list.html' %}
  </section>

  {% if current_user.is_superuser %}
    {% set data_tabs = ['warehouse', 'webapp'] %}
    {% for data_tab in data_tabs %}
      <section class="tab-panel">
        <div class="form-group">
          <h2 class="heading-medium">{{ heading_prefix }} {{ data_tab }} data sources</h2>
          {% if buckets[data_tab].length %}
            <table class="form-group">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Your access level <em>?</em></th>
                  <td><span class="visuallyhidden">Actions</span></td>
                </tr>
              </thead>
              {% for users3bucket in buckets[data_tab] %}
                <tr>
                  <td><a href="{{ url_for('buckets.details', { id: users3bucket.s3bucket.id }) }}">{{ users3bucket.s3bucket.name }}</a></td>
                  <td>
                    {% if users3bucket.is_admin %}
                      admin
                    {% else %}
                      {{ users3bucket.access_level }}
                    {% endif %}
                  </td>
                  <td class="align-right no-wrap">
                    {% if users3bucket.is_admin %}
                      <a class="button button-secondary" href="{{ url_for('buckets.details', { id: users3bucket.s3bucket.id }) }}">Manage data source access</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>None</p>
          {% endif %}

          <p><a class="button button-secondary" href="{{ url_for('buckets.new', { type: data_tab }) }}">Create new {{ data_tab }} data source</a></p>
        </div>
      </section>
    {% endfor %}

    <section class="tab-panel">
      <div class="form-group">
        <h2 class="heading-medium">{{ heading_prefix }} apps</h2>
        {% if user.userapps.length %}
          <table class="form-group">
            <thead>
              <tr>
                <th>App name</th>
                <th>User has admin access</th>
                <th><span class="visuallyhidden">Actions</span></th>
              </tr>
            </thead>
            <tbody>
              {% for userapp in user.userapps %}
                <tr>
                  <td>
                    <a href="{{ url_for('apps.details', { id: userapp.app.id }) }}">{{ userapp.app.name }}</a>
                  </td>
                  <td>
                    {{ yes_no(userapp.is_admin) }}
                  </td>
                  <td class="align-right">
                    {% if userapp.is_admin %}
                      <a class="button button-secondary" href="{{ url_for('apps.details', { id: userapp.app.id }) }}">Manage app</a>
                      <form action="{{ url_for('apps.delete', { id: userapp.app.id }) }}" method="post" class="inline-form">
                        <input type="submit" class="button button-secondary right js-confirm" value="Delete app" data-confirm-message="Are you sure you want to delete this app?">
                      </form>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>None</p>
        {% endif %}

        <p><a class="button button-secondary" href="/apps/new">Create new app</a></p>
      </div>
    </section>
  {% endif %}

  {% if current_user.is_superuser %}
    <details class="debug">
      <summary>Debug</summary>
      <div class="panel">
        <h2 class="heading-medium">Logged-in user dump</h2>
        <pre>{{ current_user | dump(2) | safe }}</pre>
      </div>
    </details>
  {% endif %}

{% endblock %}

