{% extends "layouts/one-column.html" %}

{% set page_title = "Hello " + ( current_user.name if current_user ) %}

{% block main_column %}

  {% if not current_user.is_superuser %}
    <h2 class="heading-medium">No access yet</h2>
    <p>Only superadmins have access to the control panel at the moment.</p>
    <p>Ask a superadmin to grant you access.</p>
  {% else %}
    <h2 class="heading-medium">Admin</h2>
    <ul class="list list-bullet">
      <li><a href="{{ url_for('users.list') }}">List users</a></li>
      <li><a href="{{ url_for('apps.list') }}">List apps</a></li>
      <li><a href="{{ url_for('buckets.list') }}">List buckets</a></li>
    </ul>

    <h2 class="heading-medium">Temporary shortcuts</h2>
    <ul class="list list-bullet">
      <li><a href="{{ url_for('apps.new') }}">Create new app</a></li>
      <li><a href="{{ url_for('buckets.new') }}">Create new bucket</a></li>
    </ul>

    <details class="debug">
      <summary>Debug</summary>
      <div class="panel">
        <h2 class="heading-medium">Logged-in user dump</h2>
        <pre>{{ current_user | dump(2) | safe }}</pre>
      </div>
    </details>
  {% endif %}

{% endblock %}
