{% extends "layouts/two-column.html" %}

{% set page_title = "Home" %}

{% block main_column %}
<a href="{{ url_for('users.list') }}">Users</a>
{% endblock %}

{% block page_scripts %}
<script src="https://cdn.auth0.com/js/lock-9.min.js"></script>
<script>

function login() {
  var lock = new Auth0Lock("{{env.AUTH0_CLIENT_ID}}", "{{env.AUTH0_DOMAIN}}");
  lock.show({
    callbackURL: "{{env.AUTH0_CALLBACK_URL}}",
    responseType: "code",
    authParams: {
      scope: "openid offline_access",
    }
  });
}

(function () { login(); })();

</script>
{% endblock %}
